---
import MainLayout from "../layouts/MainLayout/index.astro";
---

<MainLayout title="404 Not Found - Pokee" />
<section class="grid justify-center items-center text-light-color_10">
    <div class="text-center font-bold">
        <h1 class="text-[clamp(20px,5vw,90px)]">404</h1>
        <p class="italic pt-2">Page Not Found</p>
    </div>
</section>
